@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$violet-palette
  ),
  typography: (
    brand-family: var(--font-sans),
    plain-family: var(--font-sans)
  ),
  density: ( scale: 0 )
));

:root {
  @include mat.all-component-themes($theme);
}
